name                          = "rabbitmq-cluster"
ami_regex                     = "rabbitmq"
instance_profile              = "rabbitmq-cluster"
key_name                      = ""
secret_arn                    = "arn:aws:secretsmanager:xxx:xxxx:secret:secret"
secret_kms_arn                = "arn:aws:kms:xxx:xxxx:key/kms"
region                        = "us-east-1"
hosted_zone                   = "acme.org"
domain_name                   = "dev.acme.org"
certificate_arn               = "arn:aws:acm:xxx:zzzz:certificate/acmexxxx"
vpc_id                        = "vpc-xxxx"
default_tags                  = {}
rabbit_image_url              = "rabbitmq:3.11.19-management"
rabbit_delayedmessage_version = "3.11.1"
